<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if group.name_group == "unknown" %}
        <div class="errors">
        МУСОР <b></b><br><br>
        {% for obj in sched %}
        <a href="/media/{{ obj.schedule_file}}">{{ obj.date}}({{ obj.get_filename }})</a><br><br>
        {% endfor %}
        </div>
    {% else %}
    РАСПИСАНИЕ ДЛЯ: <b>{{ group.name_group }}</b><br><br>
        {% for obj in sched %}
        <a href="/media/{{ obj.schedule_file}}">{{ obj.date}}</a><br><br>
        {% endfor %}
    {% endif %}
<style type="text/css">
    .errors{
        color:red;
    }
    .errors a{
        border: solid red;
    }
</style>
</body>
</html>