{% extends 'base.html' %}

{% block content %}
    {% if sched %}
<div>
    <div class="spoiler_links"><p><b>Обновлено: {{ sched.date }}</b></p></div>
    <div class="spoiler_body">
    <table class="table table-bordered">
        {% for tr in sched.schedule %}
        <tr>
            {% for td in tr %}
                {% if forloop.first %}
                   <th>{{ td }}</th>
                {% else %}
                    {% if td == None %}
                        <td>_</td>
                    {% else %}
                        <td>{{ td }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
            {% endfor %}
    </table>
    </div>
</div>
    {% else %}
        <p>Расписание не найдено</p>
    {% endif %}

<script type="application/javascript">
    $(document).ready(function(){
 $('.spoiler_links').click(function(){
     $(this).parent().children('div.spoiler_body').toggle('normal');
     return false;
 });
});
    </script>
    <style type="text/css">
     .table td{
         text-align: center;
     }
     .links {cursor: pointer;}
 .spoiler_links {cursor:pointer;}
</style>
{% endblock content %}
