{% extends 'base.html' %}

{% block content %}
    <div class="right">
    <h4>Группы:</h4>
    {% for gr in group %}
    <p><a class="btn btn-default" href="{% url 'get_sched' gr.pk %} ">{{ gr.name_group }}</a></p>
    {% endfor %}
        </div>
<div class="well">
<form role="form" method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
Добавить расписание <b>{{ faculty }}</b><br><input name="file" class="form-control" id="uploadHtml" type="file" multiple><br>
<input onclick="return check()"  type="submit"  accept="application/pdf" />
    <div class="errors">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
</form>
</div>

<style type="text/css">
    .well {
    border-style: outset;
    position:inherit;
    left:50px;
    top:50px;
    float:left;
    margin-right: 55px;
    margin-left: 20px;
    margin-top: 20px;

    transition: 1s;
}
    .well:hover{
     border-color: #31b0d5;
    }
    .right{
    float: left;
    }
</style>
<script type="application/javascript">
    function check(){
        if( document.getElementById("uploadHtml").files.length == 0 ){
            return false;
        }
    }
</script>
{% endblock content %}